<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>

</head>

<body>
    <div id="container">
        <div class="registration">
            <form action="/register" method="post">
                <h1>Update Profile</h1>
                {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: rgb(170, 0, 0) ;">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
                <div>
                    <label for="first_name">First Name:</label>
                    <br>
                    <input type="text" name="first_name" placeholder="First Name">
                </div>

                <div>
                    <label for="last_name">Last Name:</label>
                    <br>
                    <input type="text" name="last_name" placeholder="Last Name">
                </div>

                <div>
                    <label for="last_name">Current Grade:</label>
                    <br>
                    <input type="text" name="current_grade" placeholder="Current Grade">
                </div>

                <div>
                    <label for="email">Email:</label>
                    <br>
                    <input type="text" name="email" placeholder="Email Address">
                </div>

                <div>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password" placeholder="Password">
                </div>

                <div>
                    <label for="cpassword">Confirm Password:</label>
                    <br>
                    <input type="password" name="cpassword" placeholder="Confirm Password">
                </div>
                <br>
                <button type="submit">Update</button>
            </form>