<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Class Enrollment</title>
</head>

<body>
    <div class="top-nav">
        <form action="/success">
            <button class="btn back-to-dash-btn">Back to dashboard</button>
        </form>
        <form action="/clear_session">
            <button class="btn logout-btn">Log out</button>
        </form>
    </div>
    <h1 class="top">Enrollment</h1>
    <!-- {% if not all_classes%}
        <h2 class="empty-msg">There are currently no available classes, check back later..</h2>
    {% endif %} -->
    <div class="container enrollment">
        {% for class in all_classes%}
            <div>
                <h2 class="class_name">{{class.class_name}}</h2>
                <div class="sub-info">
                    <p>Teacher: {{class.teacher_id}}</p>
                    <p>Location: {{class.location}} | Start Date: {{class.start_date.strftime('%B %e, %Y')}}</p>
                </div>
                <p>Description:</p>
                <p class="indent">{{class.description}}</p>
                <form action="/enroll_in_class/{{class.id}}" method="post">
                    <button class="btn enroll-btn" type="submit">Enroll</button>
                </form>
                <hr>
            </div>
        {% endfor %}
    </div>
</body>

</html>