<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Class Enrollment List</title>
</head>

<body>
    <div class="container enrollment">
        <div id="top-bar">
            <h1>Enrollment</h1>
            <div>
                <button class="btn btn-sm"> <a href="/clear_session">Logout</a> </button>
                <button class="btn btn-sm"><a href="/success">Back to dashboard</a></button>
            </div>
        </div>
        {% for class in all_classes%}
        <div>
            <hr>
            <h3>{{class.class_name}}</h3>
            <p>{{class.location}}</p>
            <p> {{class.start_date}}</p>
            <p>{{class.description}}</p>
            <form action="/enroll_in_class/{{class.id}}" method="post">
                <button class="btn btn-sm" type="submit">Enroll</button>
            </form>
        </div>
        {% endfor %}
        <hr>

    </div>
</body>

</html>