<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Student Registration</title>

</head>

<body>
    <div class="container register">
            <form action="/register" method="post">
                <h1>Student Registration</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color: rgb(170, 0, 0) ;">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <input type="text" name="first_name" placeholder="First Name" class="form-control mt-2">
                    <input type="text" name="last_name" placeholder="Last Name" class="form-control mt-2">
                    <input type="number" name="current_grade" placeholder="Current Grade" class="form-control mt-2">
                    <input type="text" name="role" placeholder="Student" class="form-control mt-2">
                    <input type="text" name="email" placeholder="Email Address" class="form-control mt-2">
                    <input type="password" name="password" placeholder="Password" class="form-control mt-2">
                    <input type="password" name="cpassword" placeholder="Confirm Password" class="form-control mt-2">
                <button type="submit" class="btn mt-3">Register</button>
            </form>
            <a href="/login_page" class="mt-4">Already Registered?</a>
            <a href="/teacher_registration">I'm a teacher</a>
    </div>
</body>

</html>