<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>

</head>

<body>
    <div id="container">
        <div id="top-bar">
            <h1>Welcome, {{student.first_name}}</h1>
            <button> <a href="/clear_session">Logout</a> </button>
        </div>
        <div id="main-content">
            <div class="left-main">
                <!-- possibly another div here to hold user profile and edit button -->
                <h3>User Profile</h3>
                <p>Name: {{student.first_name}} {{student.last_name}}</p>
                <p> Email: {{student.email}}</p>
                <p>Current Grade: {{student.current_grade}}</p>
                <!-- GPA YES/NO? -->
                <p>GPA: (DATA HERE)</p>
                <a href="/edit_profile/{{student.id}}">Edit Profile</a>
            </div>
            <div class="right-main">
                <h3>Classes</h3>
                <table>
                    <thead>
                        <th>Class Name</th>
                        <th>Grade</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>(DATA HERE)</td>
                            <td>(DATA HERE)</td>
                        </tr>
                    </tbody>
                </table>
                <a href="/all_classes">Enroll in a Class</a>
            </div>
        </div>
    </div>
</body>

</html>