<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Class Description</title>
</head>

<body>
    <div class="top-nav">
        <form action="/success">
            <button class="btn back-to-dash-btn">Back to dashboard</button>
        </form>
        <form action="/clear_session">
            <button class="btn logout-btn">Log out</button>
        </form>
    </div>
    <h1 class="top">{{class_info.class_name}}</h1>
    <div class="container enrollment student-view-grid">
        <div class="grid-col-span-2">
            <div class="description">
                <div class="sub-info">
                    <div>
                        <h2 class="class_name">Description</h2>
                        <p>Location: {{class_info.location}} | start date: {{class_info.start_date}}</p>
                    </div>
                    <div class="grade">
                        <!-- letter grade here -->
                        <div class="letter-grade">+A</div>
                        <p>Grade</p>
                    </div>
                </div>
                
                <p>{{class_info.description}}. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis sunt quisquam, exercitationem laboriosam beatae sapiente molestias sed enim nobis blanditiis ullam aspernatur. Mollitia dolorem culpa quos sequi rerum, corporis obcaecati!
                Beatae obcaecati asperiores unde quos debitis omnis rerum quaerat deserunt quia, vel enim, culpa perferendis ex aspernatur, repellat dignissimos eaque? Esse id aperiam ad voluptas obcaecati numquam, fuga sit nostrum.
                Cupiditate, deserunt corrupti esse, facere nesciunt impedit commodi alias sequi nam debitis est earum dolorum voluptate aliquam quod placeat accusantium voluptatibus repellendus deleniti porro voluptas fuga maiores? Repellat, quos voluptate.
                Praesentium, itaque at aut nobis voluptatibus assumenda in quae vero quisquam libero dignissimos earum voluptatum debitis! Nam velit tenetur mollitia, quasi eligendi officia. Esse culpa eum voluptatibus facilis cumque aspernatur!
                Nostrum, maxime? Quod enim iste unde, explicabo ea fuga labore tenetur, aliquid voluptate magnam porro. Voluptatem omnis quisquam est nemo reprehenderit magni, nesciunt quasi impedit non enim voluptatibus, provident illo. </p>
            </div>
            <div class="posts">
                <h2 class="class_name">Posts</h2>
                <p>Date posted: mm/dd/yyy</p>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum sequi cum quasi pariatur nulla nesciunt? Dolorum pariatur soluta nesciunt, sed placeat at reprehenderit ipsum quas maxime hic aliquam similique nam.
                Illum, molestias aliquam suscipit hic fugit, velit alias harum pariatur, tenetur earum recusandae veniam maiores cupiditate nulla. Quidem eaque enim amet. Similique illum nesciunt earum libero quibusdam hic unde in? </p>
            </div>
        </div>
        <div class="right-main">
            <!-- FOR LOOP NOT POPULATING ANY DATA -->
            {% for info in teacher_classes.users%}
            <p>Teacher: {{info.last_name}}</p>
            <table>
                <thead>
                    <th>Roster</th>
                </thead>
                <tbody>
                    <tr>
                        <td>(DATA HERE)</td>
                    </tr>
                    <tr>
                        <td>(DATA HERE)</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</body>

</html>