<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    <link rel="stylesheet" href="../static/style/styles.css">
    <script src="../static/script/script.js" defer></script>
    <title>Teacher Dashboard</title>
</head>

<body>
    <div class="top-nav">
        <form action="/clear_session">
            <button class="btn logout-btn">Log out</button>
        </form>
    </div>
    <h1 class="top">Dashboard</h1>
    <!-- --Dashboard Grid-- -->
    <div class="container dashboard-grid">
        <div class="tile">
            <div class="tile-header">
                <h2 class="text-blue">User Profile</h2>
                <button class="btn btn-link" data-modal-target="#edit_profile">Edit Profile</button>
            </div>
            <div class="content">
                <p>Name: {{user.first_name}} {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p>Staff position: {{user.role}}</p>
            </div>
        </div>
        <div class="tile">
            <div class="tile-header">
                <h2 class="text-blue">My classes</h2>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>Class Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- FOR LOOP RETURNING MULTIPLE ROWS OF SAME DATA -->
                        {% for class in teacher_classes.classes %}
                        <tr>
                            <td><a href="/show_one_class/{{class.id}}">{{class.class_name}} </a> | <a href="/delete_class/{{class.id}}">Delete Class</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile grid-row-span-2">
            <div class="tile-header">
                <h2 class="text-blue">Other Classes</h2>
                <button class="btn btn-link" data-modal-target="#add_class">Add Class</button>
            </div>
            <div class="content">
                {% if not all_classes %}
                    <p class="text-muted">There are no other class, create one?</p>
                {% endif %}
                {% if all_classes%}
                    <table class="table">
                        <tbody>
                            <!-- add table data here -->
                            {% for class in all_classes%}
                            <tr>
                                    <td><a href="/show_one_class/{{class.id}}">{{class.class_name}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- --Edit modal-- -->
    <div class="my-modal container" id="edit_profile">
        <div class="tile-header">
            <h1 class="text-blue">Update Profile</h1>
            <button data-close-button class="close-btn">&times;</button>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error-message">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/edit_student_profile/{{one_student.id}}" method="post">

            <label for="first_name">First Name:</label>
            <input type="text" value="{{one_student.first_name}}" name="first_name" class="form-control">

            <label for="first_name">Last Name:</label>
            <input type="text" value="{{one_student.last_name}}" name="last_name" class="form-control">

            <label for="first_name">Role:</label>
            <input type="text" value="{{one_student.role}}" name="role" class="form-control" {% if one_student.role == 'student' %}readonly {% endif %}>

            <label for="first_name">Current Grade:</label>
            <input type="number" name="current_grade" value="{{one_student.current_grade}}" class="form-control" min="1" max="12">

            <label for="first_name">Email:</label>
            <input type="email" value="{{one_student.email}}" name="email" class="form-control">

            <button type="submit" class="btn mt-3 blue-btn">Update Profile</button>
        </form>
    </div>

    <!-- --Add class modal-- -->
    <div class="my-modal container" id="add_class">
        <div class="tile-header">
            <h1 class="text-blue">Add a class</h1>
            <button data-close-button class="close-btn">&times;</button>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error-message">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/save_class/{{one_student.id}}" method="post">

            <label for="class_name">Class Name:</label>
            <input type="text" name="class_name" class="form-control">

            <label for="location">Location:</label>
            <input type="text" name="location" class="form-control">

            <label for="start_date">Start Date:</label>
            <input type="date" name="start_date" class="form-control">

            <label for="description">Description:</label>
            <br>
            <textarea name="description" class="form-control"></textarea>

            <button type="submit" class="btn mt-3 blue-btn">Create Class</button>
        </form>
    </div>
    <div id="overlay"></div>
    </body>
</html>